## Lab 6 – SECTION A , BATCH 1 Date: 20th Dec 2021

## EXERCISE 1: Collaborative Filtering

## Q1. Read about the movielens dataset and write down a summary of metadata

## User-Based Similarity

## Q2. Read the “ratings.csv” file and create a pivot table with index=‘userId’, columns=‘movieId’, values = “rating

In [1]:
#

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [2]:
ratings=pd.read_csv("ratings.csv")
movies=pd.read_csv("movies.csv")
tags=pd.read_csv("tags.csv")
links=pd.read_csv("links.csv")

In [3]:
rt = pd.read_csv("ratings.csv")
rt

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
rt_pivot = pd.pivot_table(rt, values = 'rating', index = 'userId', columns= 'movieId').fillna(0)
rt_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Q3. sklearn.metrics.pairwise_distances can be used to compute distance between all pairs of users. pairwise_distances() takes a metric parameter for what distance measure to use. Use cosine similarity for finding similarity among users. Use the following packages

**from sklearn.metrics import pairwise_distances**

**from scipy.spatial.distance import cosine, correlation**

In [5]:
#

distance = pairwise_distances(rt_pivot,metric="cosine")
distance
x= pd.DataFrame(np.squeeze(distance))
x

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,0.000000,9.727171e-01,0.940280,8.056052e-01,0.870920,0.871848,0.841256,0.863032,0.935737,0.983125,...,0.919446,0.835545,0.778514,0.929331,0.846375,8.358085e-01,0.730611,0.708903,9.064281e-01,8.546792e-01
1,0.972717,1.110223e-16,1.000000,9.962741e-01,0.983386,0.974667,0.972415,0.972743,1.000000,0.932555,...,0.797329,0.983134,0.988003,1.000000,1.000000,9.715710e-01,0.987052,0.953789,9.724346e-01,8.975732e-01
2,0.940280,1.000000e+00,0.000000,9.977486e-01,0.994980,0.996064,1.000000,0.995059,1.000000,1.000000,...,0.994952,0.995108,0.975008,1.000000,0.989306,9.870070e-01,0.980753,0.978872,1.000000e+00,9.678813e-01
3,0.805605,9.962741e-01,0.997749,2.220446e-16,0.871341,0.911509,0.884880,0.937031,0.988639,0.968837,...,0.914062,0.871727,0.692027,0.947015,0.915416,7.996055e-01,0.868254,0.850142,9.678020e-01,8.923170e-01
4,0.870920,9.833856e-01,0.994980,8.713411e-01,0.000000,0.699651,0.891658,0.570925,1.000000,0.969389,...,0.931952,0.581253,0.889852,0.741227,0.851242,8.935651e-01,0.847134,0.864465,7.387679e-01,9.392082e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.835809,9.715710e-01,0.987007,7.996055e-01,0.893565,0.897877,0.799965,0.900612,0.924102,0.911037,...,0.821916,0.883466,0.699331,0.933968,0.851859,4.440892e-16,0.846937,0.737442,9.303783e-01,7.988962e-01
606,0.730611,9.870521e-01,0.980753,8.682538e-01,0.847134,0.837818,0.813886,0.814858,0.988156,0.989549,...,0.907475,0.800090,0.796460,0.862166,0.881220,8.469374e-01,0.000000,0.716919,8.508097e-01,8.608856e-01
607,0.708903,9.537890e-01,0.978872,8.501419e-01,0.864465,0.821191,0.676459,0.812767,0.899565,0.922576,...,0.841645,0.802486,0.767229,0.844694,0.821858,7.374419e-01,0.716919,0.000000,8.780073e-01,6.779451e-01
608,0.906428,9.724346e-01,1.000000,9.678020e-01,0.738768,0.785766,0.909160,0.576007,1.000000,0.978234,...,0.964347,0.664769,0.938059,0.763399,0.902390,9.303783e-01,0.850810,0.878007,2.220446e-16,9.467745e-01
609,0.854679,8.975732e-01,0.967881,8.923170e-01,0.939208,0.947332,0.806781,0.921847,0.925601,0.878928,...,0.777509,0.912472,0.836906,0.947448,0.880705,7.988962e-01,0.860886,0.677945,9.467745e-01,1.110223e-16

In [6]:
# pairwise_distances(df['userId'], metric='cosine')

In [7]:
user10=rt['userId']==10

In [8]:
rt[user10]

      userId  movieId  rating   timestamp
1119      10      296     1.0  1455303387
1120      10      356     3.5  1455301685
1121      10      588     4.0  1455306173
1122      10      597     3.5  1455357645
1123      10      912     4.0  1455302254
...      ...      ...     ...         ...
1254      10   119145     1.0  1455302650
1255      10   129428     3.5  1455357384
1256      10   136020     5.0  1455302192
1257      10   137595     4.0  1455356898
1258      10   140110     5.0  1455356776

[140 rows x 4 columns]

# Q6. Find the 5 most similar user for user with user Id 10.

In [9]:
import numpy as np

In [10]:
allusers=rt_pivot.values
user10=allusers[0]
den1=np.sqrt(sum([np.square(x) for x in user10]))
cosinesim=[(10,1)]
i=1
for user in allusers[1:]:
    numer=[x*y for x,y in zip(user10,user)]
    den2=np.sqrt(sum([np.square(x) for x in user]))
    costheta = sum(numer)/(den1*den2)
    cosinesim.append((rt_pivot.index[i],costheta))
    i=i+1
cosinesim.sort(key=lambda x:x[1],reverse =True)
simusers=cosinesim[0:6]
simusers

[(10, 1),
 (266, 0.3574077096032742),
 (313, 0.3515615184909569),
 (368, 0.34512705158353046),
 (57, 0.3450342788075837),
 (91, 0.33472692041817076)]

In [11]:
def common_member(a,b):
    a_set = set(a)
    b_set = set(b)
 
    if (a_set & b_set):
        print(a_set & b_set)


common_member(rt['userId']==2, rt['userId']==338)
user2=rt['userId']==2
user338=rt['userId']==338

{False, True}

# 7. Use the “movies” dataset to find out the names of movies, user 2 and user 338 have watched in common and how they have rated each one of them.

In [12]:
comm = pd.DataFrame(pd.merge(ratings, movies, on="movieId"))
movie_1 = pd.DataFrame(comm[comm["userId"] == 2][["title","rating"]])
movie_1.head()
movie_338 = pd.DataFrame(comm[comm["userId"] == 338][["title","rating"]])
movie_338.head()

                                  title  rating
692          Usual Suspects, The (1995)     4.5
1997                Pulp Fiction (1994)     4.5
3684            Schindler's List (1993)     5.0
4462   Silence of the Lambs, The (1991)     4.0
14435                 Fight Club (1999)     4.5

# 9. Create a pivot table for representing the similarity among movies using correlation.

In [13]:
# list(set(user2).intersection(user338))

df=pd.merge(ratings,movies,on='movieId')
df

data_table = pd.pivot_table(df,values='rating',columns='title',index='userId').fillna(0)
data_table.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 10. Find the top 5 movies which are similar to the movie “Godfather”.

In [ ]:
print(data_table.corr()['Godfather, The (1972)'].sort_values(ascending=False).iloc[:6])